@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* styles.css */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.dynamic-background {
  background: linear-gradient(270deg, #22224d, #102c46, #18a0a5);
  background-size: 600% 600%;
  animation: gradient 15s ease infinite;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.card {
  background: rgba(224, 221, 221, 0.719);
  padding: 3px;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  transform: transition-transform 0.2s;
  transition: transform 0.2s;
}

.card:hover, blob:hover {
  transform: scale(1.05);

}

.blob {
  filter: blur(40px);
  position: absolute;
  z-index: -1; /* to keep it at below everything else */
  top: 0; /* to align it at top */
  left: 0; /* to align it at left */
  width: 250px;
  height: 250px;
  border-radius: 50%; /* to make it circular */
  background: #eef6f7;
  transform: transition-transform 0.2s;
  transition: transform 0.2s;
}

.fakeblob {
  display: hidden;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}